h2{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 80px;
    color: #61898B;
	margin-top: 30px;
	margin-bottom: 30px;}

a{
	text-decoration: none;
  }

.note1 {
	color: #000;
    font-size: 20px;
    width: 1200px; 
    margin: 0 auto;
    border-radius: 30px;
    margin-bottom: 15px;
    padding: 4px 12px;
	border-bottom: 5px solid #9c9c9c;
}

.red:hover,
.green:hover,
.blue:hover {
  opacity: 0.8;
  transition: all .08s ease-in-out;
}

/* кнопки написания заметки и фильтрации тегов*/

.wrapper {
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 10px;
	justify-content: center;
  }
  
  #search-box {
	border: none;
	outline: none;
	font-family: 'Noto Sans', sans-serif;
	margin-left: auto;
	margin-right: 20px;
	background-color: rgb(255, 255, 255);
	box-shadow: inset 0 0 0 2px #a7babb;
	color: #61898B;
	padding: 15px 40px;
	border-radius: 30px;
	cursor: pointer;
	font-size: 20px;
  }
  
  .create-event-btn1 {
	white-space: nowrap;
	background-color: #99B9BB;
	box-shadow: inset 0 0 0 2px #61898B;
	color: #ffffff;
	padding: 15px 40px;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	margin-left: auto;
	font-size: 22px;
	margin-right: 20px;
  }
  
  .create-event-btn2 {
	white-space: nowrap;
	background-color: rgb(255, 255, 255);
	box-shadow: inset 0 0 0 2px #61898B;
	color: #61898B;
	padding: 15px 40px;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	font-size: 22px;
  }

  .create-event-btn1:hover {
	background-color: #61898B;
  }
  
  .create-event-btn2:hover {
	background-color: #E6F1F7}
  
  input[type="text"] {
	margin-right: 20px;
	padding: 15px 40px;
	border-radius: 30px;
	font-size: 20px;
	box-shadow: inset 0 0 0 2px #61898B;
	border: none;
	outline: none;
	color: #61898B;
	background-color: rgb(255, 255, 255);
  }
  