h2{
    font-family: Calibri;
    font-weight: bold;
    text-align: center;
    font-size: 80px;
    color: #61898B;
}

.danger {
    font-size: 20px;
    width: 1600px; 
    margin: 0 auto;
    border-radius: 30px;
    margin-bottom: 15px;
    padding: 4px 12px;
    background-color: #F7D0D0;
    border-left: 6px solid #C5A9A9;
}

.success {
    font-size: 20px;
    width: 1600px; /* задаем фиксированную ширину блока */
    margin: 0 auto; /* добавляем margin со значением auto */
    border-radius: 30px;
    margin-bottom: 15px;
    padding: 4px 12px;
    background-color: #DEEFD7;
    border-left: 6px solid #AABDA2;
}

.info {
    font-size: 20px;
    width: 1600px; /* задаем фиксированную ширину блока */
    margin: 0 auto; /* добавляем margin со значением auto */
    border-radius: 30px;
    margin-bottom: 15px;
    padding: 4px 12px;
    background-color: #DCE6F2;
    border-left: 6px solid #ABBBCD;
}

/* кнопки написания заметки и фильтрации тегов*/

.wrapper {
	display: flex;
	align-items: center;
	margin-top: 5px;
	margin-bottom: 10px;
  }

.wrapper1 {
	position: relative;
	right: 0;
	height: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 5px;
  }

.wrapper2 {
	position: relative;
	left: 0;
	height: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 5px;
  }
  
  .create-note-btn1 {
	white-space: nowrap;
	background-color: #99B9BB;
	box-shadow: inset 0 0 0 2px #61898B;
	color: #ffffff;
	padding: 15px 40px;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	margin-top: 5px;
	font-size: 22px;
  }
  .create-note-btn2 {
	margin-left: 1110px;
	white-space: nowrap;
	position:absolute;
    left: 0px;
	background-color: rgb(255, 255, 255);
	box-shadow: inset 0 0 0 2px #61898B;
	color: #61898B;
	padding: 15px 40px;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	margin-top: 5px;
	font-size: 22px;
  }
  .create-note-btn1:hover {
	background-color: #61898B;
  }
  
  .create-note-btn2:hover {
	background-color: #E6F1F7;
  }