h2{
    font-family: serif;
    font-weight: bold;
    text-align: center;
    font-size: 80px;
    color: #61898B;
}

.danger {
    font-size: 20px;
    width: 1600px; 
    margin: 0 auto;
    border-radius: 30px;
    margin-bottom: 15px;
    padding: 4px 12px;
    background-color: #F7D0D0;
    border-left: 6px solid #C5A9A9;
}

.success {
    font-size: 20px;
    width: 1600px; /* задаем фиксированную ширину блока */
    margin: 0 auto; /* добавляем margin со значением auto */
    border-radius: 30px;
    margin-bottom: 15px;
    padding: 4px 12px;
    background-color: #DEEFD7;
    border-left: 6px solid #AABDA2;
}

.info {
    font-size: 20px;
    width: 1600px; /* задаем фиксированную ширину блока */
    margin: 0 auto; /* добавляем margin со значением auto */
    border-radius: 30px;
    margin-bottom: 15px;
    padding: 4px 12px;
    background-color: #DCE6F2;
    border-left: 6px solid #ABBBCD;
}