html, body{
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: 100%;
}


/**
 * Шапка
 */
.navbar{
	width: 100%;
	height: 70px;
	background-color: #99B9BB;
	box-shadow: 0 4px 10px rgba(0,  0,0,.1);
}

.navbar .container{
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-menu{
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
	margin: 60px;
}

.navbar-menu li{
	display: inline-block;
}

.navbar-menu li a{
	font-weight: 900;
	display: inline-block;
	color: #ffffff;
	opacity: 0.85;
	text-decoration: none;
	padding: 10px;
	transition: all .07s ease-in-out;
}

.navbar-menu li a:hover{
	opacity: 1;
}

.navbar-brand{
	font-weight: 900;
	font-size: 26px;
	text-decoration: none;
	color: #ffffff;
	opacity: 1;
	text-decoration: none;
	transition: all .07s ease-in-out;
	margin: 60px;
}

.content {
	height: 100%;
	margin:0;
	padding: 2% 7%;
}

/**
 * Календарь
 */

body{
    background-size: cover;
    background-repeat: no-repeat;
}
.calendar{
    font-family: serif;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
}
.month{
    text-align: center;
    background: white;
    font-size: 80px;
    letter-spacing: 1px;
    color: #61898B;
}

table, th, td{
	width: 100%;
    table-layout: fixed;
    text-align: center;
    font-size: 27px;
    border-collapse: collapse;
    border:5px solid #61898B;
    font-family: Elaphant;
}
tr, th, td{
    padding: 5px;
}
th{
    background: #99B9BB;
    color: white;
    font-family: arial black;
}
td{
	position: relative;
    background: #ffffff;
    color: #61898B;
	height: auto;
	padding-bottom: 22px;
}
td:hover{
    background: #E6F1F7;
}
.date_num {
	position: absolute; /* задаем абсолютное позиционирование */
	top: 5px; /* отступ сверху */
	left: 5px; /* отступ слева */
	font-size: 20px; /* размер шрифта */
	font-weight: bold; /* жирный шрифт */
	margin-top: 5px 0;
  }
  
  .event {
	position:relative; /* задаем абсолютное позиционирование */
	width: calc(100% - 20px); /* ширина с отступами*/
	top: 22px; /* отступ сверху */
	left: 10px; /* отступ слева */
	padding: 5px; /* внутренний отступ */
	font-size: 15px; /* размер шрифта */
	border-radius: 5px; /* радиус скругления углов */
	text-align: left;
	word-wrap: break-word;
	box-sizing: border-box;
	border-style: solid;
	border-color: transparent;
	margin-top: 10px;
	margin-bottom: 10px; 
  }
p{
    margin-top: 1px; 
}
/* .date_num, .event{
	margin: 5px 0;
}

.event {
	padding: 3px;
	position: relative;
	border-radius: 5%;
	font-size: 15px;
	text-align: left;
	word-wrap: break-word;
	box-sizing: border-box;
	border-style: solid;
	border-color: transparent;
} */

.event:hover{
	border-color: rgb(100,100,100);
}