{% extends 'main/index.html' %}
{% load main_extras %}
{%block content%}

{%load static%}

{%block styles%}
    <link rel="stylesheet" type="text/css" href="{% static 'calendar.css' %}">
{%endblock%}

<div class="content">
    <div class="wrapper">
        <div class="wrapper1">
            <a href="/create-event"><button class="create-event-btn1">Создать событие</button></a>
          </div>
        <div class="wrapper2">
            <a href="#"><button class="create-event-btn2">Фильтр по тегам</button></a>
        </div>
    </div>

<div class="calendar">
    <div class="month">
        <a href={{year_month|calculate_previous_month}} class="arrows">&#8249;</a>
            <strong>{{month_name}}</strong>
            <strong>{{year}}</strong>
        <a href={{year_month|calculate_next_month}} class="arrows">&#8250;</a>
    </div>
    <table>
        <tr>
            <th>Пн</th>
            <th>Вт</th>
            <th>Ср</th>
            <th>Чт</th>
            <th>Пт</th>
            <th>Сб</th>
            <th>Вс</th>
        </tr>
        {%for data_cell in data%}

        <td>
            {% if data_cell != None %}


                <div class="date_num">
                    <p> {{data_cell|get_value_from_dict:'date_num'}}</p>
                </div>

                {%for event in data_cell|get_value_from_dict:'events'%}
                    <a href="/edit-event?id={{event|get_value_from_dict:'event_id'}}">
                        <div class="event" style="background-color: {{event|get_value_from_dict:'color'}};">
                            {{event|get_value_from_dict:'name'}}
                        </div>
                    </a>
                {%endfor%}
            {% endif %}
        </td>

        {%if forloop.counter|divisibleby:7%}
            </tr>
        {%endif%}
        
        {%endfor%}
    </table>
</div>
{%endblock%}