{% extends 'main/index.html' %}
{%block content%}

{%load static%}

{%block styles%}
<link rel="stylesheet" type="text/css" href="{% static 'register.css' %}">
{%endblock%}

<h2>Создать событие</h2>

<form method="post">
    {%csrf_token%}
    <label for="name">Название события:</label>
    <input type="text" id="name" name="name" required>

    <label for="text">Описание события:</label>
    <textarea id="text" name="text" required></textarea>

    <label for="startTime">Дата и время начала:</label>
    <input type="datetime-local" id="startTime" name="startTime" required>

    <label for="tag">Тег:</label>
    <input type="text" id="tag" name="tag" required>

    <input type="submit" value="Создать событие">
</form>
{%endblock%}