{% extends 'main/index.html' %}
{% load main_extras %}
{%load static%}

{%block styles%}
    <link rel="stylesheet" type="text/css" href="{% static 'notes.css' %}">
{%endblock%}

{%block content%}
<div class="wrapper">
    <div class="wrapper1">
        <a href="/create-note"><button class="create-event-btn1">Написать заметку</button></a>
      </div>
      <div class="wrapper2">
        <input type="text" id="search-box" name="search-box">
      </div>
    <div class="wrapper3">
        <button class="create-event-btn2">Поиск</button>
    </div>
</div>

<div class="notes">
    <h2>Мои заметки</h2>
        {%for note in notes%}
        <a href="/edit-note?id={{note.id}}">
            <div class="note1" style="background-color: {{note.color}};">
                <p><strong>{{note.lastModifiedTime|prettyfy_datetime}}</strong>  {{note.name}}</p>
            </div>
        </a>
        {%endfor%}
</div>
{%endblock%}


